src/EngineBookShare/bookshare.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bookshare">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="version" type="xs:string" />
        <xs:element name="messages" />
        <xs:element name="book">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="metadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="author" type="xs:string" maxOccurs="unbounded"/>
                    <xs:element name="available-to-download" type="xs:unsignedByte" />
                    <xs:element name="bookshare-id" type="xs:unsignedInt" />
                    <xs:element name="brief-synopsis" type="xs:string" />
                    <xs:element name="complete-synopsis" type="xs:string" />
                    <xs:element name="content-id" type="xs:unsignedInt" />
                    <xs:element name="copyright" type="xs:unsignedShort" />
                    <xs:element name="dtbook-size" type="xs:unsignedInt" />
                    <xs:element name="freely-available" type="xs:unsignedByte" />
                    <xs:element name="images" type="xs:unsignedByte" />
                    <xs:element name="isbn13" type="xs:unsignedLong" />
                    <xs:element name="language" type="xs:string" />
                    <xs:element name="publish-date" type="xs:string" />
                    <xs:element name="publisher" type="xs:string" />
                    <xs:element name="quality" type="xs:string" />
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="category" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>